# 忽略文件
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.local
 
# 忽略文件夹
node_modules
dist
dist-ssr

# 忽略编译输出
build
out
 
# 忽略配置文件
.env
 
# 忽略临时文件
*.tmp
 
# 忽略图片和其他静态资源
*.jpg
*.jpeg
*.png
*.gif
*.svg
*.ico
 
# 忽略IDE和编辑器配置
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?