.nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    line-height: 50px;
    background-color: #222b;
  }
  li a {
    display: block;
    font-size: 2rem;
    color: #fafafa;
    text-align: center;
    text-decoration: none;
  }
}
