@import url("https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.2.0/github-markdown.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/default.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.8/katex.min.css");

.paper {
  box-sizing: border-box;
  width: 960px;
  margin: 10px auto;
  padding: 2rem;
  background-color: #fff;
}
